.App {
  text-align: center;
}

.App-logo {
  font-weight: bold;
  font-size: 16px;
  width: 60px;
  height: auto;
}

.App-header {
  background-color: #282c34;
  padding: 5px 20px;
  display: flex;
  flex-direction: 'space-between';
  align-items: center;
  justify-content: left;
  color: white;
}

.App-header nav ul {
  list-style: none;
  font-size: 14px;
  line-height: 14px;
}

.App-header nav ul li {
  display: inline-block;
  padding: 0 20px;
}

.App-header nav ul li a {
  color: white;
  text-decoration: none;
  transition: all 0.3s ease 0s;
  font-weight: 500;
}

.App-header nav ul li a:hover {
  color: #009fdf;
}

.App-link {
  color: #61dafb;
}

.square {
  width: 40%;
  float: left;
  margin: 0 5%;
}

.row {
  display: inline-block;
  width: 100%;
}

.container {
  padding: 10px 20px;
}
.scroll {
  max-height: 75vh;
  overflow: scroll;
}

@media screen and (max-width: 768px) {
  .square {
    width: 100%;
    margin: 0;
  }
}
